body {
	width: 100%;
	margin: 0;
}

.head {
	width: 100%;
}

#navbar {
	float: left;
	position: fixed;
	min-width: 280px;
	max-height: 100vh;
	margin: 0;	
}
	
#title {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	min-width: 280px;
	background-color: white;
	text-align: left;
	margin: 0;
	font-weight: bold;
	padding: 15px;
	z-index: 2;
}

#leftcon {
	min-width: 280px;
	display: flex;
	align-items: flex-start;
	margin: 0;
	position: fixed;
	overflow: scroll;
	left: 0;
	top: 0;
	z-index: 1;
}

#theme {
	box-sizing: border-box;
	min-width: 280px;
	height: 100vh;
	padding-top: 64px;
	margin: 0;
}

#theme ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#theme li {
	padding: 15px;
	font-size: 1.2em;
	border-top: solid black 1px;
}

a {
	text-decoration: none;
	color: black;
}
	
#right {
	position: realtive;
	right: 5px;
	max-width: 80vw;
	line-height: 1.8em;
	margin-left: 320px;
	height: 100vh;
	text-align: left;
}

header {
	width: 20vw;
	font-size: 1.8em;
	font-weight: bold;
	padding: 10px 0;
	margin: 0;
	text-align: left;
}

.example {
	background-color: rgb(215, 218, 251);
	margin: 0 15px;
	padding: 10px;
}

.one-tab {
	padding-left: 15px;
}

@media only screen and (max-width: 768px) {	

	
	#navbar {
		display: block;
		position: static;
		width: 100%;
		height: 380px;
		margin: 0;
		padding: 0;
		float: none;
	}

	#leftcon {
		width: 100%;
		display: block;
		margin: 0;
		position: relative;
		overflow: auto;
		height: 360px;
		left: 0;
		top: 0;
		z-index: 1;
	}
	
	#title {
		position: relative;
		box-sizing: border-box;
		top: 0;
		left: 0;
		width: 100%;
		background-color: white;
		text-align: center;
		margin: 0;
		font-weight: bold;
		padding: 15px;
		z-index: 2;
	}
	
	#theme {
		box-sizing: border-box;
		width: 100%;
		height: 360px;
		padding-top: 0;
		margin: 0;
	}
	
	#main-doc {
		display: block;
		position: static;
		width: 100%;
	}
	
	#right {
		position: relative;
		left: 10px;
		top: 75px;
		min-width: 95%;
		margin-right: 10px;
		font-size: 16px;
		line-height: 1.8em;
		margin-left: 0;
		height: 100vh;
		text-align: left;
	}
	
	.nav-link {
		font-size: 1em;
	}
	
	#themeul {
		text-align: center;
	}
	#title {
		font-size: 1.2em;
	}
	
	code {
		word-wrap: break-word;
	}
}

@media only screen and (max-device-width: 768px) {	

	#navbar {
		display: block;
		position: static;
		width: 100%;
		height: 380px;
		margin: 0;
		padding: 0;
		float: none;
	}

	#leftcon {
		min-width: 100%;
		display: block;
		margin: 0;
		position: relative;
		overflow: scroll;
		height: 360px;
		left: 0;
		top: 0;
		z-index: 1;
	}
	
	#title {
		position: relative;
		box-sizing: border-box;
		top: 0;
		left: 0;
		min-width: 100%;
		background-color: white;
		text-align: center;
		margin: 0;
		font-weight: bold;
		padding: 15px;
		z-index: 2;
	}
	
	#theme {
		box-sizing: border-box;
		width: 100vw;
		height: 360px;
		padding-top: 0px;
		margin: 0;
	}
	
	#main-doc {
		display: block;
		position: static;
		width: 100vw;
		margin: 0 10px 0 10px;
		padding: 0;
	}
	
	#right {
		position: relative;
		left: 10px;
		top: 75px;
		max-width: 100vw;
		margin-right: 10px;
		font-size: 30px;
		line-height: 1.8em;
		margin-left: 0;
		height: 100vh;
		text-align: left;
	}
	
	.nav-link {
		font-size: 2em;
	}
	
	#themeul {
		text-align: center;
	}
	#title {
		font-size: 2.5em;
	}
}
